@model IEnumerable<Item>
@{
    ViewData["Title"] = "Home";
}

    <head>
        <meta http-equiv="refresh" content=@ViewBag.FreqUpd>
    </head>
<div class="text-center">
    <h1>RSS feed from Habr</h1>
    @{ 
        foreach(var item in Model)
        {
            <div>
                <h2> 
                    <a href=@item.Url>
                        @item.Title
                    </a>
                </h2>
                <label>
                    Дата публикации @item.PubDate
                </label>
                <p>
                 @Html.Raw(item.Description)
                </p>
            </div>
        }
    }
</div>
