@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FeedSettings
@{
    ViewData["Title"] = "RSS Feed Settings";

}
<script>
    $(document).ready(function () {
        $("#rssChannels").on("click", ".del-but", function (e) {
            const id = e.target.id;
            $.ajax({
                type: 'DELETE',
                url: '/Feed/rss',
                data: `rssChannel=${id}`,
                success: function (result) {
                    $('#rssChannels').html(result);
                }
            });
        })
        $("#SettingsRss").on("click", "#createRss", function (e) {
            const rss = $("#NewRss").val();
            console.log(rss);
            $.ajax({
                type: 'POST',
                url: '/Feed/rssCreate',
                data: `rssChannel=${rss}`,
                success: function (result) {
                    $('#rssChannels').html(result);
                    $("#NewRss").val("");
                }
            });
        })
        $("#SettingsRss").on("click", "#upd", function (e) {
            const freq = $("#FreqUpd").val();
            console.log(freq);
            $.ajax({
                type: 'POST',
                url: '/Feed/UpdFreq',
                data: `freq=${freq}`,
                success: function (result) {
                    $("#upd").css("background-color", "green");
                    setTimeout(($("#upd").css).bind($("#upd")), 1000, "background-color", "gray");
                }
            });
        })
    });
</script>


<h1>@ViewData["Title"]</h1>

<div id="SettingsRss">
    <div>
        <label>
            Rss channel
        </label>
        <input  name="BaseRss" id="NewRss">
        <button id="createRss">
            Add
        </button>
    </div>
    <div>
        <label>Update frequency</label>
        <input name="FreqUpd" id="FreqUpd" type="number" value=@Model.FreqUpd>
        <button id="upd">
            Update
        </button>
    </div>
</div>

<div>
    <h3>
        Users Rss channels
    </h3>
    <div id="rssChannels">
        @{Html.RenderPartial("rss.cshtml", @Model);}
    </div>

</div>



