@model FeedSettings

@{
    ViewData["Title"] = "RSS Feed Settings";
    
}
<h1>@ViewData["Title"]</h1>

<form method="post" action="/Feed/Settings">
    <div>

        <label>Source sites</label>
        <input name ="SrcSites" value=@Model.SrcSites>
    </div>
    <div>
        <label>Update frequency</label>
        <input name ="FreqUpd" type="number" value=@Model.FreqUpd>
    </div>
    <input type="submit" value="Save">
</form>
